<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>智能医药问答系统</title>
    <script type="text/javascript" src="static/script/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="static/script/index.js"></script>
    <script type="text/javascript" src="static/script/jquery.confirm.js"></script>
    <script type="text/javascript" src="static/script/jquery.nicescroll.min.js"></script>
    <script src="static/script/jquery-scrolltofixed.js"></script>
    <link href="static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
    <link href="static/css/subpage.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(
          function () {
              $("#col-r").niceScroll({
                  cursorwidth: "10px",
                  horizrailenabled: false
              });
          }
      );
    </script>
    
    
    
    
    
</head>





<body>
    
    <form method="post" action="Reply.html" id="form1">


        <div id="header">
            



<div class="main-nav">
    <ul>
        <li class="current"><a href="index">首页</a></li>
        <li class="nav-reply"><a href="Reply">回复汇总</a></li>
    </ul>
</div>


<div style="display: none">
    <input type="submit" name="ctl00$Top$LogOut" value="Button" id="Top_LogOut" />
</div>

        </div>

        <div>
            

    <div class="header-banner-top reply-header">
        
        <div class="header-banner-img">
            <div class="header-banner-content">
                <h1>查看用户提问记录</h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        


<div class="subpage-title">全部分类</div>
<div class="qa-nav">
    
    <div class="qa-list">
        <a href="ReplyList_disease">
            <div class="qa-nav-content">
                <div class="qa-num">
                    <span class="timer count-title" data-speed="700"
                        data-to="{{disease_num}}"></span><i>条</i>
                </div>
                <h1>疾病</h1>
                <p>查看疾病的症状、禁忌食物、并发症等相关问题</p>
            </div>
        </a>
    </div>
    <div class="qa-list">
        <a href="ReplyList_symptom">
            <div class="qa-nav-content">
                <div class="qa-num">
                    <span class="timer count-title" data-speed="700"
                        data-to="{{symptom_num}}"></span><i>条</i>
                </div>
                <h1>症状</h1>
                <p>查看症状相关问题</p>
            </div>
        </a>
    </div>
    <div class="qa-list">
        <a href="ReplyList_food">
            <div class="qa-nav-content">
                <div class="qa-num">
                    <span class="timer count-title" data-speed="700"
                        data-to="{{food_num}}"></span><i>条</i>
                </div>
                <h1>食物</h1>
                <p>查看食物相关问题</p>
            </div>
        </a>
    </div>
    <div class="qa-list">
        <a href="ReplyList_drug">
            <div class="qa-nav-content">
                <div class="qa-num">
                    <span class="timer count-title" data-speed="700"
                        data-to="{{drug_num}}"></span><i>条</i>
                </div>
                <h1>药品</h1>
                <p>查看药品相关问题</p>
            </div>
        </a>
    </div>
    <div class="qa-list">
        <a href="ReplyList_check">
            <div class="qa-nav-content">
                <div class="qa-num">
                    <span class="timer count-title" data-speed="700"
                        data-to="{{check_num}}"></span><i>条</i>
                </div>
                <h1>检查</h1>
                <p>查看检查相关问题</p>
            </div>
        </a>
    </div>


    

                 
</div>

    </div>
    <div class="wrapper-line"></div>
    <div class="wrapper">
        <div class="subpage-title">最新回复</div>
        





            <div class="wrapper">

                  <ul class="new-reply-list"><!--显示三条最新回复-->
                      {% for record in records %}
                        <li>
                                 <a class="slider" href="ReplyDetail_{{record['_id']}}"><h1><span>问：</span> {{record['question']}}</h1></a>
                                    <div class="answer-content">
                                        {{record['answer'][:40]}}...
                                    </div>
                             </li>
                      {% endfor %}

                          
                  </ul>

                  <div class="pages"> 


            
                    <!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
                    <div id="ContentPlaceHolder1_AspNetPager1">
                        
	                <!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
	                <div id="WebContent_ReplyTypeList_PagerList_AspNetPager1">

                        <div style="float:left;width:40%;"><div>找到符合条件的记录{{pagination['total']}}条,共{{pagination['pages']}}页</div></div>
                        <div style="width:60%;float:left;">

                        </div>
                        <ul class="pagination">
                            {% if pagination['has_prevent'] %}
                                <li><a href="Reply_{{pagination['cur_page']-1}}">&laquo;</a></li>
                            {% endif %}
                            {% for i in range(1, pagination.pages+1) %}
                                <li class="{% if i == pagination['cur_page'] %}active{% endif %}"><a href="Reply_{{i}}">{{i}}</a></li>
                            {% endfor %}
                            {% if pagination['has_next'] %}
                                <li><a href="Reply_{{pagination['cur_page']+1}}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- AspNetPager V7.0.2 for VS2005 & VS2008 End -->




                    <!-- AspNetPager V7.0.2 for VS2005 & VS2008 End --> 
            
                 </div>
            </div>

            
    </div>

        </div>

        <div>
            
            <div id="footer">
              <div class="wrapper">
                <ul class="footer-ul">
                  <li>
                    <h2>帮助</h2>

                  </li>
                  <li>
                    <h2>相关链接</h2>

                  </li>
                </ul>
                <div class="copyright">
                  <ul>
                    <li>承办：四川大学计算机学院</li>
                  </ul>
                </div>
              </div>
            </div>

        </div>
    </form>
</body>

    <script>
        function Search() {
            var txt = $(".input-area").val();
            if (txt == "" || txt == "搜索回复汇总") {
                return;
            }
            if (txt.length > 20) {
                alert('输入不可超出20字长度！');
            };
            txt = encodeURI(txt);
            location.href = "ReplyList.aspx?Title=" + txt;
        }
    </script>


<script src="static/script/jquery.pageslide.js"></script>
<script>
    $(".slider").pageslide({ direction: "left", modal: "true" });
</script>
<script type="text/javascript" src="static/script/jquery.number.js"></script>


</html>
